{% extends "ServerGroveTranslationEditorBundle::layout.html.twig" %}

{% block sidebar %}
<script>

    function showAll()
    {
		$('.zebra-striped tbody tr').show();
    }

    function showMissing()
    {
		$('.zebra-striped tbody tr').hide();
        $('.zebra-striped tbody tr.head, .zebra-striped tbody tr.missing').show();
    }

	function showDuplicate()
	{
		$('.zebra-striped tbody tr').hide();
		$('.zebra-striped tbody tr.head, .zebra-striped tbody tr.duplicate').show();
	}

    function showEditor(id)
    {
        $('#current-' + id).hide();
        $('#editor-' + id).show();
        $('#editor-' + id + ' textarea').focus();
    }

    function hideEditor(id)
    {
        $('#current-' + id).show();
        $('#editor-' + id).hide();
    }

    function saveChange(id, key, locale)
    {
        $('#save-'+id).val('Saving...');

        var newVal =  $('#editor-' + id + ' textarea').val();

        $.ajax({
          type: "POST",
          url: '{{path('sg_localeditor_update')}}',
          data: {'key': key, 'locale':locale, 'val': newVal},
          success: function(data) {
              $('#save-'+id).val('Save');
              $('#current-' + id + '-content').html(newVal);
              hideEditor(id);
          }
        });
    }

    function removeEntry(id, key)
    {
        $('#remove-'+id).val('Removing...');

        $.ajax({
          type: "POST",
          url: '{{path('sg_localeditor_remove')}}',
          data: {'key': key},
          success: function(data) {
              $('#entry-'+id).remove();
          }
        });
    }

    function submitAjaxForm(form, checkOnly)
    {
        if (typeof(checkOnly) == 'undefined'){
            checkOnly = false;
        }

        var url = form.attr('action');
        //var url = form.action;

        $('#check-only').val(checkOnly ? 1 : 0);

        var data = form.serializeArray();
        $('.alert-message').hide();



        console.log(data);
        $.ajax({
            url: url,
            dataType: 'json',
            data: data,
            type: 'POST',
            success: function(data)
                {
                    if (data && data.result) {
                        if (!checkOnly) {
                            $('#key').val('');
                            $('#key').focus();
                            $('#newtranslation textarea').val('');
                            $('#insert-ok').html('New translation inserted successfully');
                            $('#insert-ok').show();
                        } else {
                            $('#insert-ok').html('Key not found.');
                            $('#insert-ok').show();
                        }
                    } else {
            			if (data && data.msg) {
            				$('#errmsg').html(': ' + data.msg);
            			} else {
            				$('#errmsg').html('');
            			}
                        $('#insert-error').show();
                    }

                }

        });
        return false;
    }

</script>
<style>
    .editor {
        display: none;
    }

    .editor textarea {
        width: 100%;
        height: 100px;
    }

    .mysmall {
        padding: 5px; width: 50px;
        font-size: 9px;
    }

</style>
<h5>Stats</h5>
<ul>
    <li><a href="#" onclick="showAll()">Entries: {{keysCount}}</a></li>
    <li><a href="#" onclick="showDuplicate()">Duplicate translations: {{duplicate|length}}</a></li>
    <li><a href="#" onclick="showMissing()">Missing translations: {{missing|length}}</a></li>
</ul>
<h5>Groups</h5>
<ul>
	{% for groupName, skip in locales %}
		<li><a href="#group-{{ groupName }}">{{ groupName|default('Without group') }}</a></li>
	{% endfor %}
</ul>
{% endblock %}

{% block body %}

<form id="newtranslation" style="display: none" method="POST"
      onsubmit="return submitAjaxForm($('#newtranslation'))"

      action="{{path('sg_localeditor_add')}}">
    <input type="hidden" id="check-only" name="check-only" value="0" />
    <label>Key:</label> <input type="text" id="key" name="key" style="width: 700px"
                               onchange="submitAjaxForm($('#newtranslation'), true)"/> </br>
    {% for locale in localesList %}
    <label>{{locale}}:</label> <textarea name="locale[{{locale}}]" style="width: 700px; height: 100px"></textarea> </br>
    {% endfor %}
    <label></label><input type="submit" value="Save" class="btn primary">
    <input class="btn" type="button" value="Cancel" onclick="$('.alert-message').hide();$('#newtranslation').hide()">
    
    <p id="insert-ok" class="alert-message success" style="display: none"></p>
    <p id="insert-error" class="alert-message error" style="display: none">An error ocurred while adding the translation<span id="errmsg"></span></p>
</form>
<table class="zebra-striped">
    <thead>
    <tr>
        {% if canEditAll %}
            <th></th>
        {% endif %}
        <th>Key</th>
        {% for locale in localesList %}
        <th>{{locale}}
            {% if locale == default %}<span class="label">Default</span>{%endif%}
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
	{% for groupName, groupList in locales %}
		<tr class="head"><th colspan="{{ localesList|length + ( canEditAll ? 2 : 1 ) }}"><a name="group-{{ groupName }}"></a><h2>{{ groupName|default('Without group') }}</h2></th></tr>
		{% for key, vals in groupList %}
			{% set trKey = groupName ~ '-' ~ loop.index %}
			<tr id="entry-{{trKey}}" class="{{ missing[key] is defined ? "missing" : ( duplicate[key] is defined ? "duplicate" : "ok" ) }}">
				{% if canEditAll %}
					<td>
						<input id="remove-{{trKey}}" class=" btn danger mysmall" type="button" value="Remove" onclick="confirm('Are you sure?') && removeEntry('{{trKey}}', '{{key}}')">
					</td>
				{% endif %}
				<td>{{key}}</td>
				{% for locale, val in vals %}
					<td>
						<div id="current-{{trKey}}-{{locale}}">
							{% set exists = true %}{#key in v.entries|keys %#}
							<div id="current-{{trKey}}-{{locale}}-content"{% if locale != default or canEditAll %} onclick="showEditor('{{trKey}}-{{locale}}')"{% endif %}>{% if exists %}{{val}}{%endif%}</div>
							{% if locale != default and exists and val == locales[groupName][key][default] %}
								<span class="label warning">Duplicate</span>
							{% endif %}
							{% if not exists or val|length == 0 %}
								<span class="label important" onclick="showEditor('{{trKey}}-{{locale}}')">Missing</span>
							{% endif %}
						</div>
						<div id="editor-{{trKey}}-{{locale}}" class="editor">
							<textarea>{% if exists %}{{val}}{%endif%}</textarea><br/>
							<input id="save-{{trKey}}-{{locale}}"class="btn mysmall success" type="button" value="Save" onclick="saveChange('{{trKey}}-{{locale}}', '{{key|e('js')}}', '{{locale}}')">
							<input class="btn mysmall" type="button" value="Cancel" onclick="hideEditor('{{trKey}}-{{locale}}')">
						</div>
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	{% endfor %}
    </tbody>
</table>
<!-- Example row of columns -->

<footer>
  <p>&copy; ServerGrove & SergiusD 2012</p>
</footer>
</div>

{% endblock %}